    html {
      color: #F1ECD6;
      background-color: #4d5557;
    }
    body {
      hyphens: auto;
      overflow-wrap: break-word;
      text-rendering: optimizeLegibility;
      font-kerning: normal;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
@media screen and (max-width: 600px) {
  .block-style-main {
      background-color: #272C2D;
      border-style: solid;
      border-width: 2px;
      padding: 9px;  
      padding-left: 15px;  
      max-width: none;
      margin-top: 0.5em;
      color: #F1ECD6;
      size: 10px;
      text-align: left;
  }
}

    p {
      margin: 1em 0;
    }
    em {
        color: #f3cfb7;
    }
    a:visited {
      color: #1a1a1a;
    }
    img {
      border-radius: 2%;
      border-style: solid;
      border-width: 5px;
      border-color: #bb9983;
      max-width: 50%;
      margin-left: 25%;
      margin-right: 25%;
    }
    h1, h2, h3, h4, h5, h6 {
      color: #8dbbd4;
      text-transform: uppercase;
    }
    h5 h6 {
      font-size: 1em;
      font-style: italic;
    }
    h6 {
      font-weight: normal;
    }
    ol, ul {
      padding-left: 3em;
    }
    blockquote {
      margin: 1em 0 1em 1.7em;
      padding-left: 1em;
      border-left: 2px solid #e6e6e6;
      color: #606060;
    }
    code {
      font-family: Menlo, Monaco, Consolas, 'Lucida Console', monospace;
      font-size: 85%;
      margin: 0;
      hyphens: manual;
    }
    pre {
      margin: 1em 0;
      overflow: auto;
    }
    pre code {
      padding: 0;
      overflow: visible;
      overflow-wrap: normal;
    }
    .sourceCode {
     background-color: transparent;
     overflow: visible;
    }
    hr {
      border: none;
      border-top: 1px solid #1a1a1a;
      height: 1px;
      margin: 1em 0;
    }
    table {
      margin: 1em 0;
      border-collapse: collapse;
      width: 100%;
      overflow-x: auto;
      display: block;
      font-variant-numeric: lining-nums tabular-nums;
    }
    table caption {
      margin-bottom: 0.75em;
    }
    tbody {
      margin-top: 0.5em;
      border-top: 1px solid #1a1a1a;
      border-bottom: 1px solid #1a1a1a;
    }
    th {
      border-top: 1px solid #1a1a1a;
      padding: 0.25em 0.5em 0.25em 0.5em;
    }
    td {
      padding: 0.125em 0.5em 0.25em 0.5em;
    }
    header {
      margin-bottom: 4em;
      text-align: center;
    }
    code{white-space: pre-wrap;}
    span.smallcaps{font-variant: small-caps;}
    div.columns{display: flex; gap: min(4vw, 1.5em);}
    div.column{flex: auto; overflow-x: auto;}
    div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}

@media screen and (min-width: 600px) {
    .block-style-main {
      background-color: #272C2D;
      border-style: solid;
      border-width: 5px;
      padding: 20px;
      max-width: 50%;
      margin-top: 1em;
      margin-left: 25%;
      margin-right: 25%;
    }
}
    .block-style-header {
      background-color: #272C2D;
      border-style: solid;
      border-width: 5px;
      padding: 20px;    
      max-width: 50%;
      margin-top: 1em;
      color: #F1ECD6;
      text-align: center;
      margin-left: 25%;
      margin-right: 25%;
    }