
body {
	font-family: "Consolas", "Arial", sans-serif;
	font-size: 14px;
	background: #ffffff url("Images/IMG_0170.GIF");
	text-align: center;
	background-size: cover;
	background-attachment: fixed;
  background-position:center;

}

li {
  text-align: left;
  margin-left: 20px
  }

h1 {
  text-align: center;
  font-size: 30px;
  letter-spacing:4px;
  }

a {
	text-decoration: none;
	color: rgb(97, 97, 97);
}

a:hover {
	color: rgb(141, 130, 109);
}

img {
	display: block;
  margin-left: auto;
  margin-right: auto;
	border: 2px solid #000;
  border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}
  
.Table , th, td {
	margin: auto;
	overflow: auto;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-color: #ececec7c;
  color: rgb(0, 0, 0);
  width: auto;
  height: 30px;
  text-align: center;
	border-collapse: collapse;
  padding: 10px;
}

.left {
  text-align:left;
  }

.box {
  margin: 0 auto;
	overflow: auto;
	background-color: #ececec;
	border: 2px solid #000;
  border-radius: 5px;
	width: 32em;
	height: 24em;
	margin-top: 10.5%;
	padding: 3.5em 4em;
}

.box-round {
  margin: 0 auto;
	background-color: #fff;
	border: 2px solid #000;
	width: 32em;
	height: 24em;
	margin-top: 7.5%;
	overflow: auto;
	padding: 20px;
	padding-bottom: 30px;	
	border-radius: 50%;
	padding: 7.5em 6em;
}

.box-noscroll {
  margin: 4% auto 6% auto;
	background-color: #ececec;
	border: 2px solid #000;
  border-radius: 5px;
	width: 64em;
	padding: 2.5em 3em;
	max-width: 80vw;
}

.box-menu {
	display: flex;
	justify-content: space-around;
	overflow: hidden;
  margin: 2% auto 1% auto;
	background-color: #ececec;
	border: 2px solid #000;
  border-radius: 5px;
	width: 48em;
	padding: 0.7em
}

.box-menu a {
	float: left;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.box-menu a:hover {
	color: #505a75;
}

.box-submenu {
	display: flex;
	justify-content: space-around;
	overflow: hidden;
  margin: 2% auto 1% auto;
	background-color: #ececec;
	border: 2px solid #000;
  border-radius: 5px;
	width: 64em;
	padding: 0.7em
}

  
/*Prevent overflow of large images.*/
.box img, .box-noscroll img, .box-round img {
  max-width: 70%;
  height: auto;
  }


/*For narrow screens.*/
@media (max-width: 500px) {
  .box, .box-noscroll {
    width: 85%;
    }
  }
  
/*Mobile compatibility*/
@media (orientation: portrait) {
  .box, .box-noscroll {
    width: 85%;
    }
  }